html {
  scroll-behavior: smooth;
}
body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-image: url("img/Bg.png");
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
header {
  font-family: "Itim", cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1.5px solid #d9d9d9;
  position: sticky;
  top: 0;
  backdrop-filter: blur(8px);
  z-index: 999;
}

nav a:hover {
  background-color: #7868e6;
  color: white;
  border-radius: 15px;
  padding: 10px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  width: 45px;
  height: 30px;
  margin-right: 10px;
}

.nav-text-logo {
  font-size: 24px;
  font-weight: bold;
  color: #6c5ce7;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}
nav {
  width: 450px;
}

.get-started {
  background-color: #6c5ce7;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 50px 0;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #6c5ce7;
}

.hero p {
  font-size: 18px;
  color: #8b8b8b;
  margin-bottom: 30px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: "Itim", cursive;
}

.cta-button {
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}
.primary {
  border: 2px solid #6c5ce7;
  background-color: #6c5ce7;
  color: white;
}

.secondary {
  border: 1.5px solid #696969;
  color: #2e2e2e;
}

/* Features Section */
.features {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.feature {
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background: linear-gradient(360deg, #e1dff7, #ffffff);
}

.feature1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feature1 .content {
  padding: 15px;
}

.feature2 {
  position: relative;
  flex: 1.5;
  height: 350px;
}

.head-package2 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.head-package2 img {
  width: 150px;
  height: 30px;
}

.search {
  padding: 5px 15px;
  height: 20px;
  width: 200px;
  border-radius: 40px;
  border: 2px solid #8b8b8b;
  background-color: #e3e3e3;
  color: #8f8f8f;
}

.packages {
  position: absolute;
  bottom: 25px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 230px;
}

.package {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px;
  font-size: 16px;
  color: white;
}

.feature2 p {
  font-size: 14px;
  line-height: 10px;
}

.small {
  background-color: #74b9ff;
}

.medium {
  background-color: #6c5ce7;
}

.large {
  background-color: #120b42;
}

.title-package {
  margin-top: 30px;
}

/* Second Hero Section */
.second {
  margin-top: 130px;
}

/* Section 2 Content */
.section2-content {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  margin-bottom: 50px;
}

.section2-content-item1,
.section2-content-item2 {
  flex: 1;
}

.section2-content-item1 {
  margin-left: 20px;
}

.section2-content-item2 img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.section2-content-item1 p,
.section2-content-item3 p {
  line-height: 1.6;
  margin-bottom: 30px;
}

.section2-content button,
.section2-content2 button {
  padding: 10px 50px;
  background-color: #ffffff;
  border-radius: 30px;
  color: #000000;
  border: 1px solid #555555;
  cursor: pointer;
}

/* Section 2 Content 2 */
.section2-content2 {
  display: flex;
  padding: 0px 0 50px 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section2-content2-item1,
.section2-content2-item2 {
  flex: 1;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  padding: 20px;
}

.section2-content2-item1 img,
.section2-content2-item2 img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

/* footer */
.footer {
  background-color: #ffffff;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  margin-top: 170px;
}

.footer .column {
  flex: 1;
  margin-right: 40px;
}
.footer .column:first-child {
  margin-right: 200px;
}

.footer .column:last-child {
  margin-right: 0;
}

.footer p,
.footer ul,
.footer li {
  color: #6c757d;
  font-size: 14px;
  line-height: 1.6;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
  color: #6c757d;
}

.footer a:hover {
  text-decoration: underline;
}

.title-footer {
  font-family: "Itim", cursive;
  color: #6c5ce7;
  font-size: 20px;
  font-weight: bold;
}
